*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 100%;
}

@font-face {
  font-family: "IMMORTAL";
  src: url("/fonts/IMMORTAL.ttf");
}

/* ---------- root variables ---------- */
:root {
  --black: #222;
  --red: #c20028;
  --grey: #7a7a7a;
  --white: #f1f1f1;
  --font-family: "Lato", Lato, Arial, sans-serif;
}

/* ---------- general styling ---------- */

html {
  color: var(--text-color-light);
  font-family: var(--font-family);
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: var(--black);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1 {
  font-family: "IMMORTAL";
  font-size: 60px;
  color: var(--white);
}

h2 {
  font-family: "IMMORTAL";
  font-size: 60px;
  color: var(--red);
}

h3 {
  font-family: "IMMORTAL";
  color: var(--white);
  font-size: 40px;
  text-align: center;
}

h4 {
  font-family: "IMMORTAL";
  font-size: 30px;
  color: var(--white);
}

h5 {
  font-family: "IMMORTAL";
  font-size: 25px;
  color: var(--white);
}

p {
  max-width: 600px;
  color: var(--white);
}

ul {
  list-style-type: none;
}

li:before {
  content: "➼";
  padding-right: 10px;
}

/* ---------- navbar ---------- */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--black);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.3);
}

.navbar a {
  float: left;
  color: var(--white);
  text-align: center;
  padding: 18px;
  text-decoration: none;
  margin: 13px 0;
}

.logo {
  position: absolute;
  top: 5px;
  left: 70px;
  height: 70px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .drop-btn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--white);
  padding: 18px;
  background-color: inherit;
  font-family: inherit;
  margin: 13px 0;
}

.nav-hover:hover {
  background-color: var(--red);
}

.dropdown:hover .drop-btn {
  background-color: var(--red);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--black);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--red);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.membership {
  position: absolute;
  top: -8px;
  right: 0;
  height: 100px;
}

@media (max-width: 900px) {
  .navbar {
    display: none;
  }
}

/* ---------- mobile navbar ---------- */

.mobile-menu {
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
  left: 0;
  max-width: 100%;
}

.mobile-logo {
  height: 70px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.burger-menu {
  position: absolute;
  right: 30px;
  top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  cursor: pointer;
}

.burger-menu span {
  width: 40px;
  height: 5px;
  display: block;
  background: var(--white);
}

.burger-menu:hover span {
  background: var(--red);
}

@media (min-width: 900px) {
  .mobile-menu {
    display: none;
  }
}

/* ---- overlay ----*/

/* The Overlay (background) */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0;
  background-color: var(--black);
  overflow-x: hidden;
  transition: 0.5s;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* The navigation links inside the overlay */
.overlay a,
.overlay span {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: var(--white);
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.overlay a:hover,
.overlay a:focus,
.overlay span:hover,
.overlay span:focus {
  color: var(--red);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.mobile-membership {
  width: 350px;
  display: block;
  margin: 10px auto;
}

@media (min-width: 900px) {
  .mobile-membership {
    display: none;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*------------- old paper page ------------*/

.papirus {
  margin-top: 100px;
  margin-bottom: 70px;
  height: 800px;
  width: auto;
  background-image: url("../icons/paper.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding: 100px;
}

.papirus h3,
.papirus h5,
.papirus p,
.papirus li {
  color: var(--black);
  max-width: 400px;
}

.papirus h5 {
  text-align: center;
  margin-bottom: 50px;
}

.papirus p,
.papirus ul {
  margin-bottom: 30px;
}

.papirus a {
  color: var(--black);
}

/* ------------ section 1 ------------ */

.landing-section {
  overflow-y: hidden;
  height: 100vh;
}

.bg {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.welcome {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

/* ------------ activities ------------ */

.activity-section {
  height: 600px;
  display: flex;
  overflow-y: hidden;
  align-items: center;
}

.half-activity-section {
  flex: 50%;
  display: flex;
  flex-direction: column;
}

.half-activity-section h3 {
  text-align: center;
  margin-top: 30px;
}

.half-activity-section h4 {
  text-align: center;
}

.half-activity-section p {
  max-width: 550px;
  margin: 10px auto 30px;
}

.img-half {
  min-width: 100%;
  min-height: 600px;
  object-fit: cover;
}

.btn {
  height: 100px;
  display: block;
  margin: auto;
}

.icon {
  height: 120px;
  display: block;
  margin: auto;
}

/* ------------ ACTIVITIES PAGE STYLING ------------ */

/*-- top of the page --*/
.activity-top {
  padding: 50px 0;
  background-image: url("../img/forest.png");
  background-position: center;
}

.activity-top img {
  height: 200px;
  display: block;
  margin: auto;
}

.activity-top h2,
.activity-top h4 {
  text-align: center;
}

.grey-line {
  width: 50%;
  min-width: 400px;
  display: block;
  margin: 0 auto -50px;
}

/*-- article --*/
.article-element {
  padding: 50px;
}

.article-element h3 {
  margin: 50px auto;
}

.article-element p {
  margin: 50px auto;
}

.parallax {
  background-image: url("../img/fightclub.JPG");
  min-height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Gallery*/
#content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 1em;
  gap: 1em;
  max-width: 1000px;
  margin: 0 auto;
}


/*Info*/
.newsletter-container {
  background-image: url("../img/fightclub.JPG");
  max-width: 600px;
  margin: 100px auto;
}

.newsletter-container button {}

/*Contact*/
.headquarters {
  background-image: url("../img/fightclub.JPG");
}

/*Team*/
.members {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-member {
  display: flex;
}

.single-member-image {}

.single-member-text {}

/*Map*/
#map {
  width: 100%;
  height: 60vh;
  margin: 100px 0;
}

/*-- fight club parallax --*/

#f1 {
  background-image: url("../img/fightclub.JPG");
}

#f2 {
  background-image: url("../img/f2.jpg");
}

#f3 {
  background-image: url("../img/f3.jpg");
}

/*-- larp parallax --*/

#l1 {
  background-image: url("../img/LARP.JPG");
}

#l2 {
  background-image: url("../img/l2.JPG");
}

#l3 {
  background-image: url("../img/l3.jpg");
}

/*-- games parallax --*/

#g1 {
  background-image: url("../img/games.jpg");
}

#g2 {
  background-image: url("../img/g2.JPG");
}

/*-- workshop parallax --*/

#w1 {
  background-image: url("../img/workshops.jpg");
}

#w2 {
  background-image: url("../img/w2.JPG");
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

@media screen and (max-device-width: 800px) {
  .activity-section {
    flex-direction: column;
  }
}

/* ------------ events page ------------ */
#events h3 {
  margin: 50px;
}

.event-section {
  display: flex;
  flex-direction: column;
}

.line-events {
  width: 50%;
  min-width: 400px;
  display: block;
  margin: 50px auto;
}

/* ------------ niebelungen page ------------ */

.characters {
  margin: 100px;
  text-align: center;
}

#characters-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1em;
  gap: 1em;
  max-width: 1000px;
  margin: 0 auto 50px;
}

@media (max-width: 600px) {
  #characters-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.character-pic {
  height: 300px;
  width: auto;
}

/* ------------ footer styling------------ */

footer {
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.3);
}

footer h4 {
  text-align: center;
  margin-bottom: 30px;
}

.footer-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px;
}

.footer-element {
  margin: 0 30px;
}

/* contact part */
.contact-element p {
  margin-bottom: 15px;
}

.contact-element a {
  color: var(--white);
  font-weight: bold;
}

/* facebook part */
.fb-group {
  display: block;
  width: 300px;
  height: 300px;
  background-color: var(--white);
  border-radius: 3px;
}

.fb-img-container {
  width: 300px;
  height: 150px;
  border-radius: 3px;
}

.fb-img {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

/* map part */
.footer-map {
  width: 20%;
  height: 20%;
}

@media (max-width: 900px) {
  .footer-elements {
    flex-direction: column;
  }
}