:root {
  --black: #222;
  --red: #c20028;
  --grey: #7a7a7a;
  --light-grey: #a7a7a7;
  --white: #f1f1f1;
  --font-family: "Lato", Lato, Arial, sans-serif;
}

/* (A) ENTIRE PAGE */
#cal-wrap * {
  font-family: arial, sans-serif;
}
.ninja {
  display: none !important;
}

/* (B) CONTAINER */
#cal-wrap {
  max-width: 600px;
  margin: 0 auto 50px;
}

/* (C) PERIOD SELECTOR */
#cal-date {
  display: flex;
}
#cal-mth,
#cal-yr {
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 1.2em;
  border: 0;
}

/* (D) CALENDAR */
#calendar {
  width: 100%;
  border-collapse: collapse;
}
#calendar tr.head td {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white);
  background: var(--red);
  padding: 15px;
  text-align: center;
}
#calendar tr.day td {
  border: 1px solid var(--white);
  width: 14.28%;
  padding: 15px 5px;
  vertical-align: top;
}
#calendar tr.day td:hover {
  background: var(--light-grey);
  cursor: pointer;
}
#calendar tr td.blank {
  background: var(--light-grey);
}
#calendar tr td.today {
  background: var(--grey);
}
#calendar .dd {
  font-size: 1.2em;
  color: var(--white);
}
#calendar .evt {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  color: var(--red);
}

/* (E) ADD/EDIT EVENT */
#cal-event {
  padding: 15px;
  margin-top: 20px;
  background: var(--white);
  border: 1px solid var(--white);
}
#cal-event h1 {
  color: var(--black);
  padding: 0;
  margin: 0;
}
#evt-date {
  color: var(--black);
  margin: 10px 0;
}
#cal-event textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--black);
  min-height: 100px;
}
#cal-event input[type="button"],
#cal-event input[type="submit"] {
  padding: 10px;
  margin: 5px;
  font-size: 1.2em;
  border: 0;
  background: var(--red);
  color: var(--white);
}
